@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Card */

.reversed {
  transform: scale(-1, -1);
}

.card {
  /* Sizing */
  height: 100%;
  width: 100%;

  transform-style: preserve-3d;

  /* Content Alignment */
  position: relative;

  /* Styling */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);

  user-select: none;
  cursor: pointer;
}

.card-front,
.card-back {
  /* Sizing */
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* Alignment */
  position: absolute;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Content Styling
  font-family: Montserrat;
  font-weight: 800;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9); */
}

.card-front {
  background-color: #73d0ff;
}

.card-back {
  background-color: #ffad66;
  transform: rotateY(180deg);
}

.flippable-card-container {
  /* Sizing */
  height: 40vh;
  width: 24vh;
  perspective: 1000px;
}

/* Flip Transition */

.flip-exit {
  transform: rotateY(0deg);
}

.flip-exit-active {
  transform: rotateY(180deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(.57, .21, .69, 1.25);
}

.flip-exit-done {
  transform: rotateY(180deg);
}

/* .flip-enter {
  transform: rotateY(180deg);
} */

/* .flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(.57, .21, .69, 1.25);
} */

/* .flip-enter-done {
  transform: rotateY(0deg);
} */